<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
    <title>Auto V</title>
    <!--meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /-->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--link rel="stylesheet" href="css/jquery-ui.css"-->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--script src="js/jquery-ui.js"></script-->

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/store_int620/store.dhtml">Auto V</a>

        [% IF logged_in %]
        <form class="form-inline my-2 mg-lg-0" id="logout_form"
            action="/store_int620/store.dhtml" method="post" accept-charset="utf-8">

            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link"
                    href="/store_int620/userTransactions.dhtml">Orders</a>
            </li>
            </ul>

            <h6 class="text-white" >Logged in as [% sess_username %]</h6>
            <button class="btn btn-outline-success my-2 my-sm-0"
                    value="logout_form" name="submit" type="submit">Logout</button>

        </form>
        [% ELSE %]
        <form class="form-inline my-2 mg-lg-0" id="login_form"
            action="/store_int620/store.dhtml" method="post" accept-charset="utf-8">

            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/store_int620/register.dhtml">Register</a>
            </li>
            </ul>

            <!--label for="username"><b>Username</b></label-->
            <input class="form-control mr-sm-2" type="text"
                   placeholder="Enter Username" name="username">

            <!--label for="passwd"><b>Password</b></label-->
            <input class="form-control mr-sm-2" type="password"
                   placeholder="Enter Password" name="passwd">

            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                   value="login_form" name="submit">Login</button>

        </form>
        [% END %]
    </nav>

    <div class="container">

        [% IF errors.login %]
        <div class="alert alert-danger" role="alert">
            [% errors.login %]
        </div>
        [% END %]


        <div class="card">
            <div class="card-body">

                [% IF logged_in %]
                    [% IF form_submitted %]

                        [% IF purchase_form.valid %]
                        <div class="alert alert-success" role="alert"
                             >Purchase successful</div>
                        [% ELSE%]
                        <div class="alert alert-danger" role="alert"
                            >Purchase failed: [% purchase_form.errmsg %]</div>
                        [% END %]

                    [% ELSE %]
                <div class="card-title">Purchase [% car.name %]</div>

                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Price: [% car.price %]</li>
                            <li class="list-group-item">[% tax.type %]: [% tax.prov_rate%] % + [% tax.can_rate %] %</li>
                            <li class="list-group-item">Total: CAD $[% total %]</li>
                        </ul>

                    </div>

                    <div class="col-md-6">
                        <form action="/store_int620/purchase.dhtml" method="post" accept-charset="utf-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="cardtype">Card Type</label>
                                    <select name="cardtype" class="form-control form-control-sm">
                                        <option value="mastercard">Mastercard</option>
                                        <option value="visa">Visa</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                </div>
                            </div>

                            <div class="form-row">
                                <label for="cardnumber">Card Number</label>
                                <input class="form-control" type="text" name="cardnumber" value=""> 
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="expiry">Expiry Date</label>
                                    <input class="form-control" type="text" name="expiry" value=""> 
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="sec">Sec</label>
                                    <input class="form-control" type="text" name="sec" value=""> 
                                </div>
                            </div>
                            <div class="form-row">
                                <button type="submit" name="submit" value="purchase-form"
                                    class="btn btn-primary form-control">Purchase</button>
                            </div>

                            <input type="hidden" name="carname" value="[% car.name %]">
                        </form>
                    </div>

                </div>
                    [% END %]
                [% ELSE %]
                <div class="alert alert-warning">Login required for purchase</div>
                [% END %]

            </div>
        </div>
    </div>

    <script src="js/bootstrap.min.js"></script>
</body>
</html>
