<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
    <title>Auto V</title>
    <!--meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /-->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--link rel="stylesheet" href="css/jquery-ui.css"-->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--script src="js/jquery-ui.js"></script-->

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/store_int620/store.dhtml">Auto V</a>

        [% IF logged_in %]
        <form class="form-inline my-2 mg-lg-0" id="logout_form"
            action="/store_int620/store.dhtml" method="post" accept-charset="utf-8">

            <h6 class="text-white" >Logged in as [% sess_username %]</h6>
            <button class="btn btn-outline-success my-2 my-sm-0"
                    value="logout_form" name="submit" type="submit">Logout</button>

        </form>
        [% ELSE %]
        <form class="form-inline my-2 mg-lg-0" id="login_form"
            action="/store_int620/store.dhtml" method="post" accept-charset="utf-8">

            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/store_int620/register.dhtml">Register</a>
            </li>
            </ul>

            <!--label for="username"><b>Username</b></label-->
            <input class="form-control mr-sm-2" type="text"
                   placeholder="Enter Username" name="username">

            <!--label for="passwd"><b>Password</b></label-->
            <input class="form-control mr-sm-2" type="password"
                   placeholder="Enter Password" name="passwd">

            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                   value="login_form" name="submit">Login</button>

            [% IF errors.login %]
            <p style="color:red;">[% errors.login %]</p>
            [% END %]

        </form>
        [% END %]
    </nav>

    <div id="car_list" class="container">


        [% FOREACH car IN cars %]
        <form action="/store_int620/purchase.dhtml" method="post" accept-charset="utf-8">

            <div class="card">
            <div class="card-body">

            <div class="row">
                <div class="col-md-6">
                    <img src="/store_int620/pictures/[% car.picture %]"
                    style="width:100%;height:100%;">
                </div>

                <div class="col-md-6">
                    <h4>[% car.name %]</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">[% car.description%]</li>
                        <li class="list-group-item">[% car.color %]</li>
                        <li class="list-group-item">[% car.transmission %]</li>
                        <li class="list-group-item">[% car.doors %] doors</li>
                        <li class="list-group-item">[% car.driveTrain %]</li>
                    </ul>

                    <div class="row price-purchase">
                        <div class="col-md-6">
                            [% IF car.qty > 0 %]
                            <p>CAD $[% car.price %]</p>
                            [% ELSE %]
                            <p>Out of stock</p>
                            [% END %]
                        </div>
                        <div class="col-md-6">
                            [% IF car.qty > 0 %]
                            <button type="submit" name="submit" class="btn btn-primary"
                                value="[% car.name %]">Purchase</button>
                            [% ELSE %]
                            <button type="submit" name="submit" class="btn btn-primary"
                                value="[% car.name %]" disabled>Purchase</button>
                            [% END %]
                        </div>
                    </div>

                </div>

            </div>

            </div>
            </div>


        </form>
        [% END %]
    </div>

    <script src="js/bootstrap.min.js"></script>
</body>
</html>
